---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4

AccessModifierOffset: -2
IndentPPDirectives: AfterHash

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceBeforeParens: Never
SpaceAfterCStyleCast: false
SpacesInParentheses: false
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: false

AlignAfterOpenBracket: Align
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

SortIncludes: false
ReflowComments: false
